@font-face {
    font-family: handDrawn;
    src: url(GochiHand-Regular.ttf);
}

.board-container {
    height: 50vw;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 15vw;
    font-family: handDrawn;
    font-weight: 900;
}

.board-container div {
    font-family: handDrawn;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}