.board-container {
    height: 50vw;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.board-container div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}