@font-face {
    font-family: handDrawn;
    src: url(GochiHand-Regular.ttf);
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
}

.title {
    font-family: handDrawn;
    font-size: 80px
}

.position-container {
    height: 50vw;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 15vw;
    font-family: handDrawn;
    font-weight: 400;
    z-index: 1;
    position: relative;
}

.position-container div {
    height: min(100%,170px);
    width: min(100%,160px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-grid {
    height: 50vw;
    width: 50vw;
    z-index: -1;
    position: absolute;
    opacity: 0.9;
}

.board-cover {
    height: 50vw;
    width: 50vw;
    position: absolute;
}

.reset-button {
    font-family: handDrawn;
    font-size: 24px;
    height: 40px;
    width: 160px;
    margin-top: 80px;
    background-color: white;
    border-radius: 25px;
}